
  .form-section {
    background-color: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h2 {
    margin-bottom: 20px;
    color: #58cc02;
    display: flex;
    align-items: center;
  }
  
  .form-section h2 i {
    margin-right: 10px;
  }
  
  .product-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group label i {
    margin-right: 10px;
  }
  
  .form-group input {
    padding: 15px;
    outline: none;
    border: 1px solid white;
  
    border-radius: 14px;
  }
  
  .submit-btn {
    grid-column: span 2;
    background-image: linear-gradient(to right, #58cc02, #1d5e20);
    color: white;
    padding: 15px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .submit-btn i {
    margin-right: 10px;
  }
  
  
  .product-name{
    margin: 20px 0px;
    font-size: 18px;
    color: green;
  }

  .delete_product button{
    cursor: pointer;
  }


  .delete_product{
    display: flex;
    justify-content: flex-end;
  }


  #wrapper2 img,
  #wrapper img{
    height: 100px;
  }
  
  .spinner {
    border: 4px solid #f3f3f3; /* Light gray */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none; /* Hidden by default */
    margin: 0px 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



  
@media (max-width: 768px){
    .form-group {
        
        margin: 15px 0;
    }
    .product-form {
        display: unset;
    }

    .sidebar{
        display: none;
    }
   
}