.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group{
    margin: 15px 0;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group label {
    font-weight: bold;
    margin-top: 10px;
}

.form-group input[type="bio"],
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.btn-primary {
    background: linear-gradient(90deg, #1EA709 0%, #076C2E 100%);
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}



.image_url{
    width: 266px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}