body {
    margin: 0;
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 120vh;
}

.firstbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(90deg, #1EA707 0%, #066A2E 100%);

}

.firstbox h1 {
    color: white;
    margin: 0;
    font-size: 50px;
}

.firstbox p {
    font-size: 20px;
    color: white;
}

.firstbox a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 137px;
    height: 43px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    background-color: transparent;
    text-decoration: none;

}



.firstbox img {
    width: 100px;
    height: 44px;
}


.secondbox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

}

.login-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.login-box h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
    width: 70%;
    margin: 0;
    margin-bottom: 20px;
}

.account-type,
.login-box form label {
    font-weight: 500;
    font-size: 16px;
}



.remember {
    margin: 10px 0px 20px 0px;
    font-weight: 500;
    font-size: 16px;
}

.input-box {
    font-family: "Open Sans", sans-serif;
    height: 35px;
    font-weight: normal;
    background: #F2F2F2;
    border-radius: 15px;
    border: none;
    padding: 8px 25px;
    font-size: 16px;
    margin: 5px 0px 15px 0px;

}

.input-box::placeholder {
    color: #A5A5A5;
    opacity: 1;
}


.signin-btn {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    height: 50px;
    background: linear-gradient(90deg, #1EA709 0%, #076C2E 100%);
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
}

.forgot-password {
    margin-top: 15px;
    text-decoration: none;
    color: #1EA709;
    text-align: right;
}


.social-icons {

    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}

.social-icons a {
    font-size: 18px;
    margin-right: 15px;
    color: #393939;
    text-decoration: none;
}

.social-icons a:hover {
    color: #1faa39;
}


.region {
    display: flex;
    margin-top: 15px;
}


.select_type{
    font-family: "Open Sans", sans-serif;
    height: 50px;
    width: 100%;
    font-weight: normal;
    background: #F2F2F2;
    border-radius: 15px;
    border: none;
    padding: 8px 25px;
    font-size: 16px;
    margin: 5px 0px 15px 0px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
    }

    .firstbox {
        padding: 20px;
        width: unset;
    }

    .firstbox h1 {
        font-size: 32px;
    }

    .region {
        display: flex;
        flex-direction: column;
    }

    .input-box {
        width: 200px;
    }

    .login-box form {
        margin-bottom: 40px;
    }
}