.store_section {
    display: flex;
    flex-direction: column;
}



.gree_color {
    color: #1EA707;
}

.store_info {
    display: flex;
    margin: 0 40px 40px 40px;
    background: #F8F8F8;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 50px;
    padding-top: 20px;
    border: 1px solid #eee;
}

.store_info h1{
    font-size: 50px;
    font-weight: 600;
}

.store_info p{
    font-size: 20px;
    color: #808080;
    text-align: center;
    /* width: 50%; */
}


.store_heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 100%;
    margin: 14px 14px;
    overflow: hidden;
}

.store_meta_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.store_meta_data p {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 2px;
}

.store_meta_data span{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #00897B;
}

.store_logo img {
    width: 80%;
    height: 100px;
    object-fit: contain;
}




.ovreflostack a{
    text-decoration: none;
    font-size: 14px;
    color:rgb(0 181 24);


}


.ovreflostack{
    text-align: center;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;overflow: hidden;
    cursor: pointer;
}

.social_media {
    display: flex;
    margin-top: 12px;
    width: 10%;
    justify-content: space-between;
}

.social_media a{
    text-decoration: none;
    list-style: none;
}

.social_media a img{
    height: 24px;
}


@media (max-width: 768px) {
    .store_section {
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
        margin: 0 0px;
        padding: 0 20px;
    }

    
    
    .store_info {
        display: flex;
        flex-direction: column;
        position: unset;
        width: 94%;
        margin: 10px;
    }

    
    .store_info h1 {
        font-size: 29px;
        text-align: center;
    }

    .store_info p{
        text-align: center;
        font-size: 14px;
        padding: 0 13px;
        width: 100%;
    }

    .social_media{
        width: 38%;
    }
    .store_meta_data p {
        font-size: 16px;
    }

    .store_logo {
        width: 107px;
        height: 107px;
    }

    .store_logo img {
        width: 70%;
        height: 80px;
    }
}