.store_section {
    display: flex;
}

.main {
    width: 70%;
}

.gree_color {
    color: #1EA707;
}

.store_info {
    position: sticky;
    top: 100px;
    flex-shrink: 0;
    margin: 0 0 0 40px;
    width: 30%;
    height: 85vh;
    background: #F8F8F8;
    border-radius: 7px;
}


.store_heading {
    display: flex;
}

.store_logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 143px;
    height: 131px;
    background: #FFFFFF;
    border-radius: 22px;
    margin: 14px 14px;

}

.store_meta_data {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    padding-bottom: 16px;
    padding-right: 10px;
    justify-content: space-between;
}

.store_meta_data p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;

}

.store_logo img {
    width: 80%;
    height: 100px;
    object-fit: contain;
}


.store_name {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


.store_name p {
    padding-right: 5px;
    font-size: 16px;
    font-weight: 600;

}


.store_name span {
    font-size: 12px;
    margin-top: 3px;
}

.store_allproducts,
.store_branch,
.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 116px;
    background: #FFFFFF;
    border-radius: 22px;
    margin: 14px;
    padding: 15px 22px 15px 22px
}

.bio p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
}

.store_branch p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 3px 0 0 0;
}

.store_branch p a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}


.store_allproducts p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 5px 10px 0 0;
    padding: 4px;
    border-radius: 20px;
    background-color: rgba(0, 157, 255, 0.086);

}

.store_product_types {
    display: flex;
    flex-wrap: wrap;
}

.ovreflostack a{
    text-decoration: none;
    font-size: 14px;
    color:rgb(59, 59, 233);


}


.ovreflostack{
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;overflow: hidden;
    cursor: pointer;
}



@media (max-width: 768px) {
    .store_section {
        display: flex;
        flex-direction: column;
    }
    .main{
        width: 100%;
        margin: 0 0px;
        padding: 0 20px;
    }


    
    .store_info {
        display: flex;
        flex-direction: column;
        position: unset;
        width: 94%;
        margin: 10px;
    }

    
    .store_name p {
        font-size: 16px !important;
    }

    .store_meta_data p {
        font-size: 12px;
    }

    .store_logo {
        width: 127px;
        height: 107px;
    }

    .store_logo img {
        width: 70%;
        height: 80px;
    }
}