body {
    margin: 0;
    background-color: #FAFAFA;
    font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    padding: 10px 40px 0 40px;
    position: sticky;
    top: 0;
    display: flex;
    z-index: 1000;
    background-color:#FAFAFA;
}

.logo img {
    width: 100px;
    height: 44px;
}



.search-bar {
    position: relative;
    margin-left: 0px;
}

.search-bar input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 13px 40px;
    border: 1px solid #E0E0E0;
    border-radius: 33px;
    font-size: 15px;
    background-color: #FAFAFA;
}


.main_search_box{
    border-radius: 28px;
    width: 47%;
    margin: 20px;
}

.search-bar input::placeholder {
    color: #aaa;
}

.search-bar input:focus {
    outline: none;
    border:none;
    background-color: #eee;
}

.search-bar img.search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;

}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.nav-buttons2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54%;
}


.buttons :hover {
    color: #1EA707;
}

.buttons img {
    margin-right: 3px;
    height: 20px;
    width: 20px;
}

.buttons img :hover {
    background-color: #1EA707;
}

.citybutton {
    background-color: #00897B;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 129px;

}

.new-btn{
    background-color: transparent;
    border: 2px solid #00897B;
    color: #00897B;
    font-size: 16px;
    padding: 12px;
}

.HeadingTag {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    width: 115px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: #FAFAFA;
    color: #333333;
    outline: none;
}



/* Grid Crads */


.main {
    margin: 0 40px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(194px, 1fr));
    gap: 20px;
}

.product-card {
    border: 1px solid #F0F0F0;
    border-radius: 6px;
    overflow: hidden;
    background-color: #F0F0F0;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
    height: 240px;
}

.product-card:hover {
    transform: scale(1.05);
    /* Slightly enlarges the card on hover */
}

.prd-img {
    width: 100%;
    height: 187px;
    object-fit: contain;
    margin-top: 10px;
}

.product-info {
    padding: 10px 0;
    
}

.product-info h3 {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    

}

.product-info p {
    font-size: 14px;
    color: #00897B;
    font-weight: 500;
    text-align: start;
}

.store-name {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
}

.store-name p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
   
}

.circle img{
    height: 18px;
}



.navbar.elevated {
    border: none !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.product-grid a,
.nav-buttons2 a, 
.nav-buttons a {
    text-decoration: none;
    color: black;
}


.account-icon{
    height: 24px !important;
    width: 24px !important;
}


#search_suggestions{
    display: none;
    list-style: none;
}

#search_suggestions li {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.main_search_box::-webkit-scrollbar {
    width: 0; /* Hides scrollbar for Chrome/Safari */
    background: transparent; /* Background color of the scrollbar */
}



.page_not_found {
    text-align: center;
}

.page_not_found_icon {
    font-size: 100px;
    color: #ccc;
}

.page_not_found_icon_message {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.page_not_found_icon_sub-message {
    font-size: 16px;
}


.bottom_portion{
    display: flex;
    width: 100%;
    margin-top: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.bottom_portion h1 {
    font-family: "Open Sans", sans-serif;
    color: #333333;
    font-size: 44px;
    font-weight: 600;
    padding: 15px;
    width: 60%;
    text-align: center;
}

.bottom_portion span{
    color: #808080;
    font-size: 20px;
}

.top_portion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    padding: 15px;
}


.category{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 40px 30px 40px;
    align-items: center;
}


.product_category{
    text-decoration: none;
}


.category-items{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    overflow: scroll;
}


.category-items::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.category-item{
    padding: 5px 14px;
    font-size: 14px;
    font-weight: 600;
    color: #808080;
}



.nav_portion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
    padding: 15px;
}


/* Responsive Styles */
@media (max-width: 768px) {
    body {
        padding-top: unset;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: unset;
    }
    
    .nav-buttons2{
        flex-direction: column;
        width: 100%;
    }
    .nav-buttons2 p {
        display: none;
    }

    .bottom_portion{
        display: flex;
        align-items: center;
        margin-top: 0px;
        height: unset !important;
    }

    .bottom_portion h1 {
        margin-top: 4px;
        font-size: 24px;
        text-align: center;
    }

    .bottom_portion h1 {
        width: unset;
    }

    .bottom_portion span {
        font-size: 12px;
        text-align: center;
        padding: 0px 28px
    }

    .top_portion {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-buttons {
        width: 65% !important;
        margin: 0 0 20px 0;
    }

    .search-bar {
        margin:0 0; 
    }


    .main_search_box {
        position: unset !important;
        width:95% !important;
    }

    .logo img {
        width: 80px; 
        height: 35px; 
    }

    

    .category {
        margin: 20px 10px;
    }

    .category-items {
        display: none;
    }

    .hidden-category-items{
        display: flex !important;
        width: 95%;
        overflow: scroll;
    }

    .hidden-category-items::-webkit-scrollbar {
        width: 0; 
        background: transparent; 
    }

    .new-btn{
        padding: 8px !important;
    }


    .citybutton {
        padding: 10px;
        width: 112px;
    }


    .main {
        margin: 0 10px;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
        gap: 5px; 
        margin-bottom: 20px;
    }
    
    .prd-img{
        width: 90%;
    }

    .product-card {
        border-radius: unset;
    }

    .product-info h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        text-align: start;
    }
    
    .product-info p {
        font-size: 14px; 
        text-align: start;
    }
}

