<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a Seller on eKhoji Nepal | Local eKhoji Nepal</title>
    <meta name="description" content="Register your seller account in three easy steps and list your product for local custommers toay!">
    <!-- Canonical Link: To avoid duplicate content issues -->
    <link rel="canonical" href="https://ekhoji.com/become-a-seller" />
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/become_seller.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4NTT1Q7Q9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T4NTT1Q7Q9');
    </script>
    <!-- Schema Markup for Product -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "Become a Seller",
            "url": "https://ekhoji.com/become-a-seller",
            "description": "Join ekhoji as a seller to expand your reach, grow your business, and access tools designed for your success. Currently, there are no fees to become a seller. Sign up easily through our simple single-page form.",
            "areaServed": {
                "@type": "Country",
                "name": "Nepal"
            },
            "breadcrumb": {
              "@type": "BreadcrumbList",
              "itemListElement": [
                {
                  "@type": "ListItem",
                  "position": 1,
                  "name": "Home",
                  "item": "https://eKhoji.com"
                },
                {
                  "@type": "ListItem",
                  "position": 2,
                  "name": "Become a Seller",
                  "item": "https://eKhoji.com/become-a-seller"
                }
              ]
            },
            "mainEntity": {
              "@type": "FAQPage",
              "mainEntity": [
                {
                  "@type": "Question",
                  "name": "How can I join eKhoji as a seller?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "To join eKhoji as a seller, simply fill out our easy single-page registration form on this page."
                  }
                },
                {
                  "@type": "Question",
                  "name": "What are the advantages of selling on eKhoji?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Selling on eKhoji allows you to reach a wide audience and access customer support tailored for sellers."
                  }
                },
                {
                  "@type": "Question",
                  "name": "Is there a cost associated with becoming a seller on eKhoji?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Currently, there are no fees to become a seller on eKhoji. Join today and start selling without any costs for now."
                  }
                },
                {
                  "@type": "Question",
                  "name": "How can I manage my seller account?",
                  "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "You can manage your seller account through our dashboard"
                  }
                }
              ]
            },
            "potentialAction": {
              "@type": "RegisterAction",
              "name": "Sign Up to Become a Seller",
              "target": "https://ekhoji.com/signup/"
            }
          }
          
    </script>
    <style>
       
        .register_store_form {
            display: none;
            max-width: 450px;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 20px;
        }

        .login-box h2 {
            text-align: center;
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        .login-box label {
            font-weight: bold;
            color: #555;
            margin-top: 10px;
            display: inline-block;
        }

        .input-box, .select_type {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            color: #333;
            outline: none;
        }

        .input-box:focus, .select_type:focus {
            border-color: #1EA707;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
        }

        .region {
            display: flex;
            justify-content: space-between;
            gap: 10px;
        }

        .input-group {
            flex: 1;
        }

        .account-type {
            margin: 15px 0;
        }

        .select_type {
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .remember {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin: 10px 0;
        }

        .remember input[type="checkbox"] {
            margin-right: 10px;
        }

        .remember label {
            color: #555;
        }

        .signin-btn {
            width: 100%;
            padding: 10px;
            background-color: #1EA707;
            border: none;
            border-radius: 4px;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 15px;
        }

        .signin-btn:hover {
            background-color: #1EA707;
        }

        /* Responsive adjustments */
        @media (max-width: 480px) {
            .region {
                flex-direction: column;
            }

            .remember {
                font-size: 12px;
            }
        }

    </style>
</head>

<body>
    <nav class="navbar" id="navbar">
        <div class="top_portion">
            <a href="/">
                <div class="logo">
                    <img src="/static/assets/eBazaar.svg" alt="">
                </div>
            </a>
            
        </div>
    </nav>
   
    <section class="main">
        <div class="main_info_box">
            <div class="title_box">
                <h1 class="become_seller_heading">Become A Seller On e<span class="title_color" >Kh</span>oji Nepal</h1>
                <p class="become_seller_heading">Start registration process by clicking <span class="title_color" >Sign up</span> button <span class="title_color" >for Free Now</span>.</p>
                <a href="/signup" ><button class="become_seller_button">Sign Up Free</button> </a>
            </div>
            <div class="img_box">
                <img class="seller_image" src="/static/assets/bagpack.svg" alt="Seller" >
            </div>
        </div>
    </section>
    <section class="register_store_form">
        <div class="login-box">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
                </div>
            {% endif %}
            <h2>Register Your Shop</h2>
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <label for="password">Account Type</label>
                <div class="account-type">
                    <select class="select_type" id="user_type" name="user_type" required>
                        <option value="seller" selected>Seller</option>
                        {% comment %} <option value="buyer">Buyer</option> {% endcomment %}
                    </select>
                </div>
                <label for="storename" id="UserName">Store Name</label>
                <input class="input-box" type="text" id="storename" name="store_name" placeholder="Store Name" required>

                <label for="password">Gmail</label>
                <input class="input-box" type="gmail" id="gmail" name="email" placeholder="Gmail" required>

                <div class="region">
                    <div class="input-group" style="width: 100%;">
                        <label for="country">Country</label>
                        <input class="input-box" type="text" id="country" value="Nepal" name="country" placeholder="Country" required>
                    </div>
                    <div class="input-group">
                        <label for="city">City</label>
                        <input class="input-box" type="text" id="city" name="city" placeholder="City" required>
                    </div>
                    <div id="cityList"></div>
                </div>
                <label for="address" id="storeaddress">Store Name With Location</label>
                <input class="input-box" type="text" id="address" name="address" placeholder="abc store, Biratnagar 06, Jharna chowk" required>

                <label for="phone">Phone</label>
                <input class="input-box" type="text" id="phone" name="phone_number" placeholder="+9779800000000" required>

                <label for="password">Password</label>
                <input class="input-box" type="password" id="password" name="password" placeholder="Password" required>
                
                <div> 
                    <div id="error"></div>
                    <input type="hidden" id="latitude" name="latitude" placeholder="Latitude">
                    <input type="hidden" id="longitude" name="longitude" placeholder="Longitude">
                </div>
                <div class="remember">
                    <input type="checkbox" id="policy"><label for="policy">I agree to the Terms of Service and Privacy Policy.</label>
                </div>

                <button type="submit" class="signin-btn">Submit</button>
            </form>
        </div>
    </section>
    <section class="benifit_box">
        <div class="benifits_heading">
            <h1>Why Sell On eKhoji?</h1>
            <div class="benifits">
                <h3>Local Reach</h3>
                <p>Connect directly with nearby customers in your city.</p>
            </div>
            <div class="benifits">
                <h3>Find Product</h3>
                <p>Search products effortlessly in your local market or other cities across Nepal. Find what you need quickly and support local businesses near you.</p>
            </div>
            <div class="benifits">
                <h3>Business deals</h3>
                <p>Expand your business by reaching local customers and building a strong presence in your community through eKhoji.</p>
            </div>
            <div class="benifits">
                <h3>Community Support</h3>
                <p>Build visibility and brand trust within the local market.</p>
            </div>
            <div class="benifits">
                <h3>Easy Online Presence</h3>
                <p>Quickly set up and manage an online storefront.</p>
            </div>
            <div class="benifits">
                <h3>Marketing Support</h3>
                <p>eKhoji provides promotional help to boost product visibility.</p>
            </div>
            <div class="benifits">
               <h3>Efficient Deliveries - Comming Soon</h3>
                <p>Localized service allows faster, more reliable deliveries.</p>
            </div>
            <div class="benifits">
                <h3>Streamlined Sales Process - Comming Soon</h3>
                 <p>Simplifies transactions, making it easy to connect with buyers.</p>
             </div>
        </div>

        <div class="benifits_heading">
            <h1>Finish Your Registration Process In Three Simple Steps</h1>
            <div class="benifits">
                <h3>Register Account</h3>
                <p>Fill out the simple single-page registration form.</p>
            </div>
            <div class="benifits">
                <h3>Set Up Your Profile</h3>
                <p>Complete your profile, upload logo, set bio and contact informtions.</p>
            </div>
            <div class="benifits">
                <h3>Add Your Product</h3>
                <p>Upload your products, set price and start selling.</p>
            </div>
        </div>
        
    </section>
    <section class="bg-gray-100 py-12">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-3xl font-semibold text-green-600 mb-6">Why Choose eKhoji Nepal?</h2>
            <p class="text-lg leading-relaxed mb-4">
                eKhoji Nepal is the best platform for discovering products effortlessly in your local area and other city markets. 
                With our easy-to-use interface, you can search for products by selecting your preferred area or location, ensuring a seamless shopping experience.
            </p>
            <p class="text-lg leading-relaxed">
                Whether you're looking for daily essentials or unique local goods, eKhoji Nepal connects you with trusted sellers nearby, making your shopping journey simple and efficient.
            </p>
        </div>
    </section>
    <!-- Best Platform Section -->
    <section class="bg-gray-100 py-12">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-3xl font-semibold text-green-600 mb-6">Are you looking for a specific product and not finding it? Don't worry! Meet eKhoji</h2>
            <p class="text-lg leading-relaxed mb-4">
                eKhoji Nepal is the best platform for discovering products effortlessly in your local area and other city markets. 
                With our easy-to-use interface, you can search for products by selecting your preferred area or location, ensuring a seamless shopping experience.
            </p>
            <p class="text-lg leading-relaxed">
                Whether you're looking for daily essentials or unique local goods, eKhoji Nepal connects you with trusted sellers nearby, making your shopping journey simple and efficient.
            </p>
        </div>
    </section>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-top">
                
                <div class="footer-column">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="/ourstory">Our Story</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/career">Careers</a></li>
                        <li><a href="/become-a-seller/">Become a Seller</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Help & Support</h3>
                    <ul>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/ekhoji_support/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Stay Connected</h3>
                    <p style="color: #ccc; margin-bottom: 15px; font-size: 14px;">Subscribe to receive updates, access to exclusive deals, and more.</p>
                    <form action="/subscribeus" method="POST" id="subscribeForm">
                        {% csrf_token %}
                        <div class="subscribe-form">
                            <input type="email" name="email" placeholder="Enter your email">
                            <button class="subscribe-btn">Subscribe</button>
                        </div>
                    </form>
                    {% comment %} <div class="social-links">
                        <a href="#" aria-label="Facebook">f</a>
                        <a href="#" aria-label="Instagram">i</a>
                        <a href="#" aria-label="Twitter">t</a>
                        <a href="#" aria-label="Pinterest">p</a>
                        <a href="#" aria-label="YouTube">y</a>
                    </div> {% endcomment %}
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2025 ekhoji. All rights reserved.</p>
                <p style="margin: 10px 0;"><a class="terms" href="/terms-condition" aria-label="terms-condition">Terms of Service</a> | <a class="terms" href="/privacy" aria-label="privacy">Privacy Policy</a></p>
               
            </div>
        </div>
    </footer>

</body>
<script src="/static/js/search.js"></script>
<script src="/static/js/getlocation.js"></script>
{% comment %} disable city and cuntary field if it has value {% endcomment %}
<script>
    var country = document.getElementById('country');
    var city = document.getElementById('city');
    // store all fields in variable
    var storename = document.getElementById('storename');
    var gmail = document.getElementById('gmail');
    var address = document.getElementById('address');
    var phone = document.getElementById('phone');
    var password = document.getElementById('password');
    var user_type = document.getElementById('user_type');
    var userName = document.getElementById('UserName');  
    var storeaddress = document.getElementById('storeaddress');  
    // if selected user type is buyer then hide the store name field
    user_type.addEventListener('change', function() {
        if (user_type.value == 'buyer') {
            userName.innerHTML = 'Full Name';
            storename.placeholder = 'John Doe';
            address.placeholder = 'Biratnagar 06, Jharna chowk';
            storeaddress.innerHTML = 'Address';
            
        } else {
            userName.innerHTML = 'Store Name';
            storename.placeholder = 'New Store';
            storename.style.display = 'block';
            address.placeholder = 'abc store, Biratnagar 06, Jharna chowk';
            storeaddress.innerHTML = 'Store Name With Location';

        }
    });









    // make city dropdown when user click on city field show city dropdown with city name of Nepal
    city.addEventListener('click', function() {
        city.disabled = false;
        var cityList = document.getElementById('cityList');
        cityList.innerHTML = '';
        var cities = ['Kathmandu', 'Pokhara', 'Biratnagar', 'Birgunj', 'Butwal', 'Dharan', 'Hetauda', 'Itahari', 'Janakpur', 'Nepalgunj', 'Bharatpur', 'Dhangadhi', 'Bhimduttanagar', 'Birtamod', 'Damak', 'Dhankuta', 'Dhangadhi', 'Dipayal', 'Gaur', 'Gorkha', 'Ilam', 'Inaruwa', 'Jaleshwar', 'Jumla', 'Khandbari', 'Lahan', 'Lalbandi', 'Lamahi', 'Lamjung', 'Lekhnath', 'Liwang', 'Madhyapur Thimi', 'Mahendranagar', 'Malangwa', 'Narayangarh', 'Nuwakot', 'Panauti', 'Parasi', 'Phiding', 'Phidim', 'Rajbiraj', 'Ramechhap', 'Rangeli', 'Rapti', 'Rukumkot', 'Salyan', 'Sankhu', 'Siddharthanagar', 'Siddhartha Highway', 'Simara', 'Siraha', 'Sisne', 'Solu', 'Sunsari', 'Surkhet', 'Tansen', 'Tatopani', 'Tikapur'];
        cities.forEach(function(cityName) {
            var option = document.createElement('div');
            option.className = 'city-option';
            option.textContent = cityName;
            option.addEventListener('click', function() {
                city.value = cityName;
                cityList.innerHTML = '';
            });
            cityList.appendChild(option);
        });
        cityList.style.display = 'block';
    });

    document.addEventListener('click', function(event) {
        if (!city.contains(event.target) && !cityList.contains(event.target)) {
            cityList.style.display = 'none';
        }
    });
    
</script>
</html>