<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if query %}
        <title>{{ query }}- Explore Local Markets: Buy, Browse & Discover Deals Near You | eBazaar</title>
    {% else %}
        <title>eBazaar - Your Local Marketplace in Nepal: Search, Shop, & Discover Nearby | Shop Mobiles, Books, Watches, Shoes and More - eBazaar.live</title>
    {% endif %}
    <meta name="description" content="Discover your local market from home and buy best products at resonable price through eBazaar, Nepal's premier local marketplace. Shop products near you today!">
    <meta name="keywords" content="eBazaar, online shopping Nepal, local products Nepal, buy mobiles Nepal, fashion deals Nepal, marketplace Nepal">
    <!-- Canonical Link: To avoid duplicate content issues -->
    <link rel="canonical" href="https://ebazaar.live/">
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4NTT1Q7Q9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T4NTT1Q7Q9');
    </script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "WebPage",
          "name": "Become a Seller - eBazaar",
          "url": "https://ebazaar.live/become-a-seller/",
          "mainEntityOfPage": {
            "@type": "WebSite",
            "@id": "https://ebazaar.live/"
          },
          "breadcrumb": {
            "@type": "BreadcrumbList",
            "itemListElement": [
              {
                "@type": "ListItem",
                "position": 1,
                "name": "eBazaar",
                "item": "https://ebazaar.live/"
              },
              {
                "@type": "ListItem",
                "position": 2,
                "name": "Become a Seller",
                "item": "https://ebazaar.live/become-a-seller/"
              }
            ]
          },
          "description": "Join eBazaar as a seller and reach a wider audience in Nepal's premier local marketplace. Sign up today to start selling your products locally!",
          "inLanguage": "en",
          "isPartOf": {
            "@type": "WebSite",
            "name": "eBazaar",
            "url": "https://ebazaar.live/"
          }
        }
        </script>
        

</head>

<body>
    <nav class="navbar" id="navbar">
        <a href="/">
            <div class="logo">
                <img src="/static/assets/Ebozar.svg" alt="">
            </div>
        </a>
        <div class="hiddenoption">
            <a href="/become-a-seller">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="Search Icon" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="Search Icon" class="search-icon">
                    {% if user == 'AnonymousUser' %} <p>Login</p> {% else %} <p>Profile</p>{% endif %}
                </div>
            </a>
        </div>
        <div class="main_search_box" id="search_box">
            <div class="search-bar">
                <form method="GET" action="{% url 'landingpage' %}" id="searchForm">
                    <input type="search" autocomplete="off" name="q" value="{{ request.GET.q }}" id="searchInput" placeholder="Search saman or pasal">
                </form>
                <img src="/static/assets/serchicon.svg" alt="Search Icon" class="search-icon">
            </div>
        <ul id="search_suggestions">
           
        </ul>
        </div>

        <div class="nav-buttons">
            <div class="buttons">
                <img src="/static/assets/cart.svg" alt="cart" class="search-icon">
                <p>Cart</p>
            </div>
            <a href="/become-a-seller">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="seller" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="auth" class="search-icon">
                    {% if user == 'AnonymousUser' %} <p>Login</p> {% else %} <p>Profile</p>{% endif %}
                </div>
            </a>
            <button class="citybutton">Biratnagar</button>
        </div>
    </nav>
    <h4 class="HeadingTag">Products</h4>
    {% if products %}
    <section class="main">
        <div class="product-grid">
            {% for product in products %}
            <!-- Card 1 -->
            <a href="/preview/{{product.slug}}">
                <div class="product-card">
                    <div class="store-name">
                        <div class="circle">
                            <div class="small-circle"></div>
                        </div>
                        <p>{{product.store_name}}</p>
                    </div>
                    {% if product.product_image %}
                    <img src="{{product.product_image.url}}"
                        alt="{{product.product_name}}">
                    {% else %}
                    <h1>Image not found</h1>
                    {% endif %}
                    <div class="product-info">
                        <h3>{{product.product_name}}</h3>
                        <p>Rs.{{product.price}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
            
        </div>
    </section>
    {% else %}
        <div class="page_not_found">
            <div class="page_not_found_icon">🛍️</div>
            <div class="page_not_found_icon_message">Product Not Found</div>
            <div class="page_not_found_icon_sub-message">Your search did not match any products.<br>Please try again.</div>
        </div>
    {% endif %}
    <h4 class="HeadingTag" style="margin:20px 40px">Stores</h4>
    {% if stores %}
    <section class="main">
        <div class="product-grid">
            {% for store in stores %}
            <!-- Card 1 -->
            <a href="/store?id={{store.id}}">
                <div class="product-card">
                    <div class="store-name">
                        <div class="circle">
                            <div class="small-circle"></div>
                        </div>
                        <p>{{store.store_name}}</p>
                    </div>
                    {% if store.logo %}
                    <img src="{{store.logo.url}}"
                        alt="Product 1">
                    {% else %}
                    <img src="/static/assets/camera.png" alt="Product 1">
                    {% endif %}
                     <div class="product-info">
                        <h3>{{store.store_name}}</h3>
                    </div>
                </div>
            </a>
            {% endfor %}
            
        </div>
    </section>
    {% else %}
        <div class="page_not_found">
            <div class="page_not_found_icon">🛍️</div>
            <div class="page_not_found_icon_message">Store Not Found</div>
            <div class="page_not_found_icon_sub-message">Your search did not match any Store.<br>Please try again.</div>
        </div>
    {% endif %}
</body>
<script src="/static/js/search.js"></script>

</html>