<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.product_name}} - {{product.user.city}} | {{product.user.country}}</title>
    <meta name="description" content="{{ product.product_description|truncatewords:25 }}">
    <meta property="og:title" content="{{ product.product_name }}">
    <meta property="og:description" content="{{ product.product_description|truncatewords:25 }}">
    <meta property="og:image" content="{{ product.product_image.url }}">
    <meta property="product:price:amount" content="{{ product.price }}">
    <meta property="product:availability" content="{% if product.status == True %}Available{% else %}Not Available{% endif %}">
    <meta property="og:type" content="product">
    
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/product_preview.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4NTT1Q7Q9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T4NTT1Q7Q9');
    </script>

    <!-- Schema Markup for Product -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ product.product_name }}",
      "description": "{{ product.product_description }}",
      "image": "https://ebazaar.live{{ product.product_image.url }}",
      "sku": "{{ product.sku }}",
      "offers": {
        "@type": "Offer",
        "url": "https://ebazaar.live/preview/{{slug}}",
        "priceCurrency": "NPR",
        "price": "{{ product.price }}",
        "availability": "{% if product.status == True %} https://schema.org/InStock {% else %} https://schema.org/OutOfStock {% endif %}",
        "itemCondition": "https://schema.org/NewCondition",
        "seller": {
          "@type": "Organization",
          "name": "eBazaar"
        }
        "areaServed": {
            "@type": "Place",
            "name": "{{ product.user.city }}"
          }
      }
    }
    </script>
</head>


<body>
    <nav class="navbar" id="navbar">
        <a href="/">
            <div class="logo">
                <img src="/static/assets/Ebozar.svg" alt="">
            </div>
        </a>
        <div class="hiddenoption">
            <a href="/become-a-seller">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="Search Icon" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="Search Icon" class="search-icon">
                    {% if user == 'AnonymousUser' %} <p>Login</p> {% else %} <p>Profile</p>{% endif %}
                </div>
            </a>
        </div>
        <div class="main_search_box" id="search_box">
            <div class="search-bar">
                <form method="GET" action="{% url 'landingpage' %}" id="searchForm">
                    <input type="search" autocomplete="off" name="q" value="{{ request.GET.q }}" id="searchInput" placeholder="Search saman or pasal">
                </form>
                <img src="/static/assets/serchicon.svg" alt="Search Icon" class="search-icon">
            </div>
            <ul id="search_suggestions">
                
            </ul>
        </div>

        <div class="nav-buttons">
            <div class="buttons">
                <img src="/static/assets/cart.svg" alt="Search Icon" class="search-icon">
                <p>Cart</p>
            </div>
            <a href="/become-a-seller">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="Search Icon" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="Search Icon" class="search-icon">
                    {% if user == 'AnonymousUser' %} <p>Login</p> {% else %} <p>Profile</p>{% endif %}
                </div>
            </a>
            <button class="citybutton">Biratnagar</button>
        </div>
    </nav>
    <h4 class="HeadingTag">Preview</h4>
    <section class="product_preview">
        <div class="product_img">
            {% if product.product_image %}
                <img src="{{product.product_image.url}}" alt="{{product.product_name}}" id="mainImage">
            {% else %}
                <h1>Image not found</h1>
            {% endif %}
        </div>
        <div class="secondary_images sec_img_hidden">
            {% if sec_images %}
                {% for sec_image in sec_images %}
                    <div class="sec_img"><img src="{{sec_image.secondary_image.url}}" id="{{sec_image.id}}" alt="{{sec_image.product.product_name}}" onclick="updateMainImage(this)"></div>
                {% endfor %}
            {% else %}
                <h5>Image not found</h5>
            {% endif %}
        </div>
        <div class="product_info">
            <h3>
                {{product.product_name}}
                {% if product.status == True %}
                <button class="status_button" type="submit">Available</button>
                {% else %}
                <button class="status_button" style="background:red" type="submit">Unavailable</button>
                {% endif %}

            </h3>
            <div class="info rupees_style">
                <span class="product_name gree_color">Price: </span>
                <p class="product_price gree_color">Rs.{{product.price}}</p>
            </div>
            <div class="info">
                <span class="product_name">Brand: </span>
                <p class="product_price">{{product.brand}}</p>
            </div>
            <div class="info">
                <span class="product_name">Quantity: </span>
                <p class="product_price">{{product.quantity}}</p>
            </div>
            <div class="info">
                <span class="product_name">Condition: </span>
                <p class="product_price">{{product.condtion}}</p>
            </div>
            <div class="info">
                <span class="product_name">Color: </span>
                <p class="product_price">{{product.color}}</p>
            </div>
            <div class="info">
                <span class="product_name">Location: </span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ product.user.address|urlencode }}" target="_blank">
                    <p class="product_price gree_color">
                    {{product.user.address}}
                    </p>
                </a> 
            </div>
            <a href="/store?id={{product.user.id}}">
                <div class="info">
                    <span class="product_name">Store: </span>
                    <p class="product_price gree_color">{{product.user.store_name}}</p>
                </div>
            </a>
            <div class="info">
                <span class="product_name">Contact Number: </span>
                <p class="product_price gree_color">{{product.user.phone_number}}</p>
            </div>
        </div>
    </section>
    <div class="secondary_images">
        {% if sec_images %}
            {% for sec_image in sec_images %}
                <div class="sec_img"><img src="{{sec_image.secondary_image.url}}" id="{{sec_image.id}}" alt="{{sec_image.product.product_name}}" onclick="updateMainImage(this)"></div>
            {% endfor %}
        {% else %}
            <h5>Image not found</h5>
        {% endif %}
    </div>
    <h4 class="HeadingTag">Product</h4>
    <section class="main">
        <div class="product-grid">
            <!-- Card 1 -->
            {% for product in all_products %}
            <!-- Card 1 -->
            <a href="/preview/{{product.slug}}">
                <div class="product-card">
                    <div class="store-name">
                        <div class="circle">
                            <div class="small-circle"></div>
                        </div>
                        <p>{{product.store_name}}</p>
                    </div>
                    {% if product.product_image %}
                    <img src="{{product.product_image.url}}"
                        alt="{{product.product_name}}">
                    {% else %}
                    <h1>Image not found</h1>
                    {% endif %}
                    <div class="product-info">
                        <h3>{{product.product_name}}</h3>
                        <p>Rs.{{product.price}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
            <!-- Add more cards as needed -->
        </div>
    </section>
</body>
<script src="/static/js/search.js"></script>
<script>
    function updateMainImage(secImage) {
        // Select the main image element in the preview
        const mainImage = document.getElementById('mainImage');
        
        // Update the main image's src attribute with the src of the clicked secondary image
        if (mainImage && secImage) {
            mainImage.src = secImage.src;
        }
    }
    
</script>

</html>