<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.product_name}} - {{product.user.city}} | {{product.user.country}}</title>
    <meta name="description" content="{{ product.product_description|truncatewords:25 }}">
    <meta property="og:title" content="{{ product.product_name }}">
    <meta property="og:description" content="{{ product.product_description|truncatewords:25 }}">
    <meta property="og:image" content="https://ekhoji.com/{{ product.product_image.url }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="product:price:amount" content="{{ product.price }}">
    <meta property="product:availability" content="{% if product.status == True %}Available{% else %}Not Available{% endif %}">
    <meta property="og:type" content="product">
    
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/product_preview.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4NTT1Q7Q9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-T4NTT1Q7Q9');
    </script>

    <!-- Schema Markup for Product -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ product.product_name }}",
      "description": "{{ product.product_description }}",
      "image": "https://ekhoji.com{{ product.product_image.url }}",
      "sku": "{{ product.sku }}",
      "offers": {
        "@type": "Offer",
        "url": "https://ekhoji.com/preview/{{slug}}",
        "priceCurrency": "NPR",
        "price": "{{ product.price }}",
        "availability": "{% if product.status == True %} https://schema.org/InStock {% else %} https://schema.org/OutOfStock {% endif %}",
        "itemCondition": "https://schema.org/NewCondition",
        "seller": {
          "@type": "Organization",
          "name": "eKhoji"
        },
        "areaServed": {
            "@type": "Place",
            "name": "{{ product.user.city }}"
          }
      }
    }
    </script>
</head>


{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<body>
    <nav class="navbar" id="navbar">
        <div class="nav_portion">
            
            <a href="/">
                
            </a>
            
            <div class="nav-buttons2">
                <a href="/">
                    <div class="logo">
                        <img src="/static/assets/eBazaar.svg" alt="eKhoji Logo">
                    </div>
                </a>
                <div class="main_search_box" id="search_box" style="margin:0px; width:60%">
                    <div class="search-bar">
                        <form method="GET" action="{% url 'search-result' %}" id="searchForm">
                            <input type="search" autocomplete="off" name="q" value="{{ request.GET.q }}" id="searchInput" placeholder="Search saman or pasal">
                        </form>
                        <img src="/static/assets/serchicon.svg" alt="Search Icon" class="search-icon">
                    </div>
                    <ul id="search_suggestions">
                    
                    </ul>
                </div>
                <a href="/myCart/">
                    <div class="buttons">
                        <p><img src="/static/assets/cart.svg" alt="Search Icon" class="account-icon"></p>
                    </div>
                </a>
                <a href="/login">
                    <div class="buttons">
                        {% if user == 'AnonymousUser' %} <p>Log in</p> {% else %} <p><img src="/static/assets/account.svg" alt="Search Icon" class="account-icon"></p>{% endif %}
                    </div>
                </a>
            </div>
        </div>
        
    </nav>
    <a class="store_page" href="/store?id={{product.user.id}}">
        <div class="store_name_city">
            <img src="/static/assets/icon-store.svg" alt="Store Icon">
            <h2>{{product.user.store_name}} </h2>
            <p> | {{product.user.city}} {{product.user.country}}</p>
        </div>
    </a>
    <section class="product_preview">
        <div class="product_img">
            {% if product.product_image %}
                <img src="{{product.product_image.url}}" alt="{{product.product_name}}" id="mainImage" >
            {% else %}
                <h1>Image not found</h1>
            {% endif %}
            <div class="secondary_images">
                {% if sec_images %}
                    {% for sec_image in sec_images %}
                        <div class="sec_img">
                            {% if sec_image.url %}
                                <img src="{{ sec_image.url }}" id="{{ sec_image.id }}" alt="{{ sec_image.product.product_name }}" onclick="updateMainImage(this)">
                            {% else %}
                                <img src="{{ sec_image.secondary_image.url }}" id="{{ sec_image.id }}" alt="{{ sec_image.product.product_name }}" onclick="updateMainImage(this)">
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h5>Image not available</h5>
                {% endif %}
            </div>
        </div>
        <div class="secondary_images sec_img_hidden">
            {% if sec_images %}
                {% for sec_image in sec_images %}
                    <div class="sec_img">
                        {% if sec_image.url %}
                            <img src="{{ sec_image.url }}" id="{{ sec_image.id }}" alt="{{ sec_image.product.product_name }}" onclick="updateMainImage(this)">
                        {% else %}
                            <img src="{{ sec_image.secondary_image.url }}" id="{{ sec_image.id }}" alt="{{ sec_image.product.product_name }}" onclick="updateMainImage(this)">
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h5>Image not available</h5>
            {% endif %}
        </div>
        <div class="product_info">
            <h1>
                {{product.product_name}}
                {% if product.status == True %}
                <button class="status_button" type="submit">Available</button>
                {% else %}
                <button class="status_button" style="background:red" type="submit">Unavailable</button>
                {% endif %}

            </h1>
            
            <div class="info rupees_style" style="border-bottom: 1px solid #E0E0E0;">
                <span class="product_name">NPR</span>
                {% if product.discount == '0' %}
                    <p class="product_price" id="product_amt"> {{product.price}}</p>
                    {% if profileverified == True %}
                        <img class="verifedbanner bigtag" src="/static/assets/tag.svg" alt="Store Icon">
                    {% endif %}
                {% else %}
                    <p class="product_price pp" id="discounted_amt" >{{discounted_amt}}</p>
                    <p class="product_price pp" style="text-decoration: line-through; opacity:50%;"> {{product.price}}</p>
                    <span class="gree_color" style="font-size:16px">{{product.discount}}% off</span>
                    {% if profileverified == True %}
                        <img class="verifedbanner bigtag" src="/static/assets/tag.svg" alt="Store Icon">
                    {% endif %}
                {% endif %}
                
               
            </div>
            <h2>Description</h2>
            <p class="product_description">{{product.product_description}}</p>
           
            <div class="brand_detail">
                <div class="info">
                    <span class="product_name">Brand: </span>
                    <p class="product_price">{{product.brand}}</p>
                </div>
                <div class="info">
                    <span class="product_name">Stock: </span>
                    <p class="product_price">{{product.quantity}}</p>
                </div>
                <div class="info">
                    <span class="product_name">Condition: </span>
                    <p class="product_price">{{product.condtion}}</p>
                </div>
                <div class="info">
                    <span class="product_name">Color: </span>
                    <p class="product_price">{{product.color}}</p>
                </div>
                <div class="info">
                    <span class="product_name">Category: </span>
                    <p class="product_price">{{product.product_category}}</p>
                </div>

            </div>
            <div class="info">
                <span class="product_name">SKU: </span>
                <p class="product_price">{{product.sku}}</p>
            </div>
            <div class="info">
                <span class="product_name">Visit Sote (Click): </span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ product.user.address|urlencode }}" target="_blank">
                    <p class="product_price gree_color">
                    {{product.user.address}}
                    </p>
                </a> 
            </div>
            <div class="info">
                <span class="product_name">Contact Number: </span>
                <p class="product_price gree_color">{{product.user.phone_number}}</p>
            </div>
            <div class="orderOptions">
                <a href="tel:{{product.user.phone_number}}" >
                    <button class="chat_button" type="submit">Call <img src="/static/assets/whatsapp-icon.svg" alt="whatsapp Icon"> </button>
                </a>
            {% comment %}             
            {% if profile.user_type == 'seller' or profile == buyer %}
                
            {% else %}
                <a href="/myCart/?productId={{product.id}}&action=buy" >
                    <button class="chat_button" type="submit">Buy</button>
                </a>
                <a href="/myCart/?productId={{product.id}}&slug={{slug}}" >
                    <button class="chat_button" type="submit">Add to Cart</button>
                </a>
            {% endif %}
             {% endcomment %}
            </div>
        </div>
        <div class="social_media">
            <a href="{{product.user.facebook}}" target="_blank">
                <img src="/static/assets/facebook.svg" alt="facebook Icon">
            </a>
            <a href="{{product.user.instagram}}" target="_blank">
                <img src="/static/assets/instagram.svg" alt="instagram Icon">
            </a>
            <a href="{{product.user.morelink}}" target="_blank">
                <img src="/static/assets/amazon.svg" alt="amazon Icon">
            </a>
            <a target="_blank" id="copylink">
                <img src="/static/assets/copyicon.svg" alt="copylink Icon">
            </a>
            <a href="#" target="_blank">
                <img src="/static/assets/add-icon.svg" alt="add Icon">
            </a>
        </div>
    </section>
    <div class="category-items hidden-category-items" style="display:none">
        {% for category in product_category %}
        <a class="product_category" href="/?product_category={{category.id}}&{{category}}" >
            <div class="category-item">
                <p>{{ category }}</p>
            </div>
        </a>
        {% endfor %}
    </div>



    <div class="category"> <h3> Similar Products </h3> </div>
    {% comment %} Similar products {% endcomment %}
    <section class="main">
        <div class="product-grid">
            <!-- Card 1 -->
            {% for product in similar_products %}
            <!-- Card 1 -->
            <a href="/preview/{{product.slug}}">
                <div class="product-card">
                    <div class="store-name">
                        <div class="circle">
                            <img src="/static/assets/icon-store.svg" alt="Store Icon">
                        </div>
                        <p>{{product.store_name}}</p>
                        {% if product.profileverified == True %}
                            <img class="verifedbanner" src="/static/assets/tag.svg" alt="Store Icon">
                        {% endif %}
                    </div>
                    {% if product.product_image %}
                    <img class="prd-img" src="{{product.product_image.url}}"
                        alt="{{product.product_name}}">
                    {% else %}
                    <h1>Image not found</h1>
                    {% endif %}
                    
                </div>
                <div class="product-info">
                    <h3>{{product.product_name}}</h3>
                    <p id="priceamount">{{product.price}}</p>
                </div>
            </a>
            {% endfor %}
            <!-- Add more cards as needed -->
        </div>
    </section>
    <div class="category"></div>



    <footer class="footer">
        <div class="footer-container">
            <div class="footer-top">
                
                <div class="footer-column">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="/ourstory">Our Story</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/career">Careers</a></li>
                        <li><a href="/become-a-seller/">Become a Seller</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Help & Support</h3>
                    <ul>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/ekhoji_support/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Stay Connected</h3>
                    <p style="color: #ccc; margin-bottom: 15px; font-size: 14px;">Subscribe to receive updates, access to exclusive deals, and more.</p>
                    <form action="/subscribeus" method="POST" id="subscribeForm">
                        {% csrf_token %}
                        <div class="subscribe-form">
                            <input type="email" name="email" placeholder="Enter your email">
                            <button class="subscribe-btn">Subscribe</button>
                        </div>
                    </form>
                    {% comment %} <div class="social-links">
                        <a href="#" aria-label="Facebook">f</a>
                        <a href="#" aria-label="Instagram">i</a>
                        <a href="#" aria-label="Twitter">t</a>
                        <a href="#" aria-label="Pinterest">p</a>
                        <a href="#" aria-label="YouTube">y</a>
                    </div> {% endcomment %}
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2025 ekhoji. All rights reserved.</p>
                <p style="margin: 10px 0;"><a class="terms" href="terms-condition" aria-label="terms-condition">Terms of Service</a> | <a class="terms" href="privacy" aria-label="privacy">Privacy Policy</a></p>
               
            </div>
        </div>
    </footer>
</body>
<script src="/static/js/search.js"></script>



<script>
    function updateMainImage(secImage) {
        // Select the main image element in the preview
        const mainImage = document.getElementById('mainImage');
        // Update the main image's src attribute with the src of the clicked secondary image
        if (mainImage && secImage) {
            mainImage.src = secImage.src;
        }
    }

    const discounted_amt = document.getElementById('discounted_amt');
    const product_amt = document.getElementById('product_amt');
    const copylink = document.getElementById('copylink');
    copylink.style.cursor = 'pointer';
    function copyToClipboard(text) {
        const tempInput = document.createElement('input');
        tempInput.value = window.location.href;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);

        // Create a small alert element
        const alertBox = document.createElement('div');
        alertBox.textContent = 'Copied';
        alertBox.style.position = 'fixed';
        alertBox.style.bottom = '20px';
        alertBox.style.right = '20px';
        alertBox.style.backgroundColor = '#333';
        alertBox.style.color = '#fff';
        alertBox.style.padding = '10px 20px';
        alertBox.style.borderRadius = '5px';
        alertBox.style.boxShadow = '0 2px 5px rgba(0, 0, 0, 0.2)';
        alertBox.style.zIndex = '1000';
        document.body.appendChild(alertBox);

        // Remove the alert after 3 seconds
        setTimeout(() => {
            document.body.removeChild(alertBox);
        }, 2000);
    }

    if (copylink) {
        copylink.addEventListener('click', function() {
            copyToClipboard(window.location.href);
        });
    }
    if (discounted_amt) {
        const formattedDiscountedAmt = parseInt(discounted_amt.textContent).toLocaleString('en-US');
        discounted_amt.textContent = formattedDiscountedAmt;
    }
    if (product_amt) {
        // Format the product amount with commas
        const formattedProductAmt = parseInt(product_amt.textContent).toLocaleString('en-US');
        product_amt.textContent = formattedProductAmt;
        
    }


    const priceElements = document.querySelectorAll('#priceamount');
    priceElements.forEach(priceElement => {
        if (priceElement) {
            const formattedAmount = 'Rs. ' + parseInt(priceElement.textContent).toLocaleString('en-US');
            priceElement.textContent = formattedAmount;
        }
    });
    
</script>
<script>
    document.getElementById('HeadingTag').addEventListener('change', function() {
        const selectedValue = this.value;
        window.location.href = `/?category=${selectedValue}`;
    });
</script>
</html>