<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preview</title>
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/product_preview.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <nav class="navbar" id="navbar">
        <a href="/">
            <div class="logo">
                <img src="/static/assets/Ebozar.svg" alt="">
            </div>
        </a>
        <div class="hiddenoption">
            <a href="/signup">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="Search Icon" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="Search Icon" class="search-icon">
                    <p>Login</p>
                </div>
            </a>
        </div>
        <div class="search-bar">
            <form method="GET" action="{% url 'landingpage' %}" id="searchForm">
                <input type="search" name="q" value="{{ request.GET.q }}" id="searchInput" placeholder="Search saman or pasal">
            </form>
            <img src="/static/assets/serchicon.svg" alt="Search Icon" class="search-icon">
        </div>

        <div class="nav-buttons">
            <div class="buttons">
                <img src="/static/assets/cart.svg" alt="Search Icon" class="search-icon">
                <p>Cart</p>
            </div>
            <a href="/signup">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="Search Icon" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="Search Icon" class="search-icon">
                    <p>Login</p>
                </div>
            </a>
            <button class="citybutton">Biratnagar</button>
        </div>
    </nav>
    <h4 class="HeadingTag">Preview</h4>
    <section class="product_preview">
        <div class="product_img">
            {% if product.product_image %}
            <img src="{{product.product_image.url}}"
                alt="">
            {% else %}
            <h1>Image not found</h1>
            {% endif %}
        </div>
        <div class="product_info">
            <h3>
                {{product.product_name}}
                {% if product.status == True %}
                <button class="status_button" type="submit">Available</button>
                {% else %}
                <button class="status_button" style="background:red" type="submit">Unavailable</button>
                {% endif %}

            </h3>
            <div class="info">
                <span class="product_name gree_color">Price: </span>
                <p class="product_price gree_color">{{product.price}}</p>
            </div>
            <div class="info">
                <span class="product_name">Brand: </span>
                <p class="product_price">{{product.brand}}</p>
            </div>
            <div class="info">
                <span class="product_name">Quantity: </span>
                <p class="product_price">{{product.quantity}}</p>
            </div>
            <div class="info">
                <span class="product_name">Condition: </span>
                <p class="product_price">{{product.condtion}}</p>
            </div>
            <div class="info">
                <span class="product_name">Color: </span>
                <p class="product_price">{{product.color}}</p>
            </div>
            <div class="info">
                <span class="product_name">Location: </span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ product.user.address|urlencode }}" target="_blank">
                    <p class="product_price gree_color">
                    {{product.user.address}}
                    </p>
                </a> 
            </div>
            <a href="/store?id={{product.user.id}}">
                <div class="info">
                    <span class="product_name">Store: </span>
                    <p class="product_price gree_color">{{product.user.store_name}}</p>
                </div>
            </a>
        </div>
    </section>
    <h4 class="HeadingTag">Product</h4>
    <section class="main">
        <div class="product-grid">
            <!-- Card 1 -->
            {% for product in all_products %}
            <!-- Card 1 -->
            <a href="/preview?id={{product.id}}">
                <div class="product-card">
                    <div class="store-name">
                        <div class="circle">
                            <div class="small-circle"></div>
                        </div>
                        <p>{{product.user.store_name}}</p>
                    </div>
                    {% if product.product_image %}
                    <img src="{{product.product_image.url}}"
                        alt="Product 1">
                    {% else %}
                    <h1>Image not found</h1>
                    {% endif %}
                    <div class="product-info">
                        <h3>{{product.product_name}}</h3>
                        <p>Rs.{{product.price}}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
            <!-- Add more cards as needed -->
        </div>
    </section>
</body>
<script>
    const navbar = document.getElementById('navbar');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 50) {
            navbar.classList.add('elevated');
        } else {
            navbar.classList.remove('elevated');
        }
    });

</script>

</html>