<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile.store_name}} {{profile.city}} - Explore Local Markets: Buy, Browse & Discover Deals Near You | eBazaar</title>
    <meta property="og:image" content=" {% if profile.logo %}{{ profile.logo.url }}{% else %}Not Found{% endif %} ">
    <meta property="og:title" content="{{profile.store_name}}">
    <meta property="og:description" content="{{profile.bio|truncatewords:25 }}">
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/store_ifo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4NTT1Q7Q9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T4NTT1Q7Q9');
    </script>

</head>

<body>
    <nav class="navbar" id="navbar">
        <div class="nav_portion">
            
            <a href="/">
                
            </a>
            
            <div class="nav-buttons2">
                <a href="/">
                    <div class="logo">
                        <img src="/static/assets/eBazaar.svg" alt="">
                    </div>
                </a>
                <div class="main_search_box" id="search_box" style="margin:0px; width:60%">
                    <div class="search-bar">
                        <form method="GET" action="{% url 'landingpage' %}" id="searchForm">
                            <input type="search" autocomplete="off" name="q" value="{{ request.GET.q }}" id="searchInput" placeholder="Search saman or pasal">
                        </form>
                        <img src="/static/assets/serchicon.svg" alt="Search Icon" class="search-icon">
                    </div>
                    <ul id="search_suggestions">
                    
                    </ul>
                </div>
                <a href="/login">
                    <div class="buttons">
                        {% if user == 'AnonymousUser' %} <p>Log in</p> {% else %} <p><img src="/static/assets/account.svg" alt="Search Icon" class="account-icon"></p>{% endif %}
                    </div>
                </a>
                
            </div>
        </div>
        
    </nav>
    <h4 class=""></h4>
    <div class="store_section">
        <section class="store_info">
            <h1>{{profile.store_name}}</h1>
            <p>
                {% if profile.bio %}
                    {{profile.bio}}
                {% else %}
                    No bio available
                {% endif %}
            </p>
            <div class="store_heading">
                <div class="store_logo">
                    {% if profile.logo %}
                        <img src="{{profile.logo.url}}" alt="{{profile.store_name}}">
                    {% else %}
                        <img src="/static/assets/camera.png" alt="{{profile.store_name}}">
                    {% endif %}
                </div>
                <div class="store_meta_data">
                    <p>Available: {% if profile.store_timing == None %} Not Set {%else%} {{profile.store_timing}} {% endif %}</p>
                    <p><div class="ovreflostack"><a href="https://www.google.com/maps/search/?api=1&query={{ profile.address|urlencode }}" target="_blank">{{profile.address}}</a></div></p>
                    <span>{{profile.phone_number}}</span>
                </div>
            </div>
            <div class="social_media">
                <a href="{{profile.facebook}}" target="_blank" rel="noopener noreferrer">
                    <img src="/static/assets/facebook.svg" alt="whatsapp Icon">
                </a>
                <a href="{{profile.instagram}}" target="_blank" rel="noopener noreferrer">
                    <img src="/static/assets/instagram.svg" alt="whatsapp Icon">
                </a>
                <a href="{{profile.morelink}}" target="_blank" rel="noopener noreferrer">
                    <img src="/static/assets/amazon.svg" alt="whatsapp Icon">
                </a>
                <a href="#" target="_blank">
                    <img src="/static/assets/add-icon.svg" alt="whatsapp Icon">
                </a>
            </div>
        </section>
        <section class="main">
            <div class="product-grid">
                <!-- Card 1 -->
                {% for store_product in store_products %}
                <a href="/preview/{{store_product.slug}}">
                    <div class="product-card">
                        <div class="store-name">
                            <div class="circle">
                                <img src="/static/assets/icon-store.svg" alt="Store Icon">
                            </div>
                            <p>{{store_product.store_name}}</p>
                        </div>
                        {% if store_product.product_image %}
                        <img class="prd-img" src="{{store_product.product_image.url}}"
                            alt="Product 1">
                        {% else %}
                        <h1>Image not found</h1>
                        {% endif %}
                        
                    </div>
                    <div class="product-info">
                        <h3>{{store_product.product_name}}</h3>
                        <p>Rs.{{store_product.price}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
<script src="/static/js/search.js"></script>
</html>