<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile.store_name}} {{profile.city}} - Explore Local Markets: Buy, Browse & Discover Deals Near You | eBazaar</title>
    <meta property="og:image" content=" {% if profile.logo %}{{ profile.logo.url }}{% else %}Not Found{% endif %} ">
    <meta property="og:title" content="{{profile.store_name}}">
    <meta property="og:description" content="{{profile.bio|truncatewords:25 }}">
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/store_ifo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4NTT1Q7Q9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T4NTT1Q7Q9');
    </script>

</head>

<body>
    <nav class="navbar" id="navbar">
        <a href="/">
            <div class="logo">
                <img src="/static/assets/Ebozar.svg" alt="">
            </div>
        </a>
        <div class="hiddenoption">
            <a href="/become-a-seller">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="Search Icon" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="Search Icon" class="search-icon">
                    {% if user == 'AnonymousUser' %} <p>Login</p> {% else %} <p>Profile</p>{% endif %}
                </div>
            </a>
        </div>
        <div class="main_search_box" id="search_box">
            <div class="search-bar">
                <form method="GET" action="{% url 'landingpage' %}" id="searchForm">
                    <input type="search" autocomplete="off" name="q" value="{{ request.GET.q }}" id="searchInput" placeholder="Search saman or pasal">
                </form>
                <img src="/static/assets/serchicon.svg" alt="Search Icon" class="search-icon">
            </div>
            <ul id="search_suggestions">
                
            </ul>
        </div>

        <div class="nav-buttons">
            <div class="buttons">
                <img src="/static/assets/cart.svg" alt="Search Icon" class="search-icon">
                <p>Cart</p>
            </div>
            <a href="/become-a-seller">
                <div class="buttons">
                    <img src="/static/assets/store.svg" alt="Search Icon" class="search-icon">
                    <p>Become seller</p>
                </div>
            </a>
            <a href="/login">
                <div class="buttons">
                    <img src="/static/assets/account.svg" alt="Search Icon" class="search-icon">
                    {% if user == 'AnonymousUser' %} <p>Login</p> {% else %} <p>Profile</p>{% endif %}
                </div>
            </a>
            <button class="citybutton">Biratnagar</button>
        </div>
    </nav>
    <h4 class="HeadingTag">Store</h4>
    <div class="store_section">
        <section class="store_info">
            <div class="store_heading">
                <div class="store_logo">
                    {% if profile.logo %}
                        <img src="{{profile.logo.url}}" alt="{{profile.store_name}}">
                    {% else %}
                        <img src="/static/assets/camera.png" alt="{{profile.store_name}}">
                    {% endif %}
                </div>
                <div class="store_meta_data">
                    <div class="store_name">
                        <p>Store:</p>
                        <p class="gree_color">{{profile.store_name}}</p>
                        <span>{{profile.city}}</span>
                    </div>
                    <p>Available: Sun to Fri 10am to 8pm</p>
                    <p>Contact No: {{profile.phone_number}}</p>
                    <p>Location:<div class="ovreflostack"><a href="https://www.google.com/maps/search/?api=1&query={{ profile.address|urlencode }}" target="_blank">{{profile.address}}</a></div></p>
                </div>
            </div>
            <div class="bio">
                <h5>BIO</h5>
                {% if profile.bio %}
                    <p>{{profile.bio}}</p>
                {% else %}
                    <p>No bio available</p>
                {% endif %}
            </div>

            {% comment %} <div class="store_branch">
                <div class="store_name">
                    <h5>BRANCH STORES OF:</h5>
                    <h5 class="gree_color">New Store </h5>
                </div>
                <p>Kathmandu: <a href="https://www.google.com/maps/search/?api=1&query={{ profile.address|urlencode }}">url of exact location of the store</a> </p>
                <p>Ithari: <a href="https://www.google.com/maps/search/?api=1&query={{ profile.address|urlencode }}">url of exact location of the store</a> </p>
            </div> {% endcomment %}
            <div class="store_allproducts">
                <h5>PRODUCT WE HAVE</h5>
                <div class="store_product_types">
                    <p>Shop</p>
                </div>

            </div>
        </section>
        <section class="main">
            <div class="product-grid">
                <!-- Card 1 -->
                {% for store_product in store_products %}
                <a href="/preview/{{store_product.slug}}">
                    <div class="product-card">
                        <div class="store-name">
                            <div class="circle">
                                <div class="small-circle"></div>
                            </div>
                            <p>{{store_product.store_name}}</p>
                        </div>
                        {% if store_product.product_image %}
                        <img src="{{store_product.product_image.url}}"
                            alt="Product 1">
                        {% else %}
                        <h1>Image not found</h1>
                        {% endif %}
                        <div class="product-info">
                            <h3>{{store_product.product_name}}</h3>
                            <p>Rs.{{store_product.price}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
<script src="/static/js/search.js"></script>
</html>