<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{profile.store_name}} {{profile.city}} - Explore Local Markets: Buy, Browse & Discover Deals Near You | eKhoji</title>
    <meta property="og:image" content=" {% if profile.logo %}https://ekhoji.com/{{ profile.logo.url }}{% else %}Not Found{% endif %} ">
    <meta property="og:title" content="{{profile.store_name}}">
    <meta property="og:description" content="{{profile.bio|truncatewords:25 }}">
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/store_ifo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T4NTT1Q7Q9"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-T4NTT1Q7Q9');
    </script>

</head>

<body>
    <nav class="navbar" id="navbar">
        <div class="nav_portion">
            
            <a href="/">
                
            </a>
            
            <div class="nav-buttons2">
                <a href="/">
                    <div class="logo">
                        <img src="/static/assets/eBazaar.svg" alt="">
                    </div>
                </a>
                <div class="main_search_box" id="search_box" style="margin:0px; width:60%">
                    <div class="search-bar">
                        <form method="GET" action="{% url 'landingpage' %}" id="searchForm">
                            <input type="search" autocomplete="off" name="q" value="{{ request.GET.q }}" id="searchInput" placeholder="Search saman or pasal">
                        </form>
                        <img src="/static/assets/serchicon.svg" alt="Search Icon" class="search-icon">
                    </div>
                    <ul id="search_suggestions">
                    
                    </ul>
                </div>
                <a href="/myCart/">
                    <div class="buttons">
                        <p><img src="/static/assets/cart.svg" alt="Search Icon" class="account-icon"></p>
                    </div>
                </a>
                <a href="/login">
                    <div class="buttons">
                        {% if user == 'AnonymousUser' %} <p>Log in</p> {% else %} <p><img src="/static/assets/account.svg" alt="Search Icon" class="account-icon"></p>{% endif %}
                    </div>
                </a>
                
            </div>
        </div>
        
    </nav>
    <h4 class=""></h4>
    <div class="store_section">
        <section class="store_info">
            <h1>{{profile.store_name}}</h1>
            <p>
                {% if profile.bio %}
                    {{profile.bio}}
                {% else %}
                    No bio available
                {% endif %}
            </p>
            <div class="store_heading">
                <div class="store_logo">
                    {% if profile.logo %}
                        <img src="{{profile.logo.url}}" alt="{{profile.store_name}}">
                    {% else %}
                        <img src="/static/assets/camera.png" alt="{{profile.store_name}}">
                    {% endif %}
                </div>
                {% if profileverified == True %}
                    <img class="verifedbanner bigtag" style="left:0" src="/static/assets/tag.svg" alt="Store Icon">
                {% endif %}
                <div class="store_meta_data">
                    <p>Available: {% if profile.store_timing == None %} Not Set {%else%} {{profile.store_timing}} {% endif %}</p>
                    <p><div class="ovreflostack"><a href="https://www.google.com/maps/search/?api=1&query={{ profile.address|urlencode }}" target="_blank">{{profile.address}}</a></div></p>
                    <span>{{profile.phone_number}}</span>
                </div>
            </div>
            <div class="social_media">
                <a href="{{profile.facebook}}" target="_blank" rel="noopener noreferrer">
                    <img src="/static/assets/facebook.svg" alt="whatsapp Icon">
                </a>
                <a href="{{profile.instagram}}" target="_blank" rel="noopener noreferrer">
                    <img src="/static/assets/instagram.svg" alt="whatsapp Icon">
                </a>
                <a href="{{profile.morelink}}" target="_blank" rel="noopener noreferrer">
                    <img src="/static/assets/amazon.svg" alt="whatsapp Icon">
                </a>
                <a href="#" target="_blank">
                    <img src="/static/assets/add-icon.svg" alt="whatsapp Icon">
                </a>
            </div>
        </section>
        <section class="main">
            <div class="product-grid">
                <!-- Card 1 -->
                {% for store_product in store_products %}
                <a href="/preview/{{store_product.slug}}">
                    <div class="product-card">
                        <div class="store-name">
                            <div class="circle">
                                <img src="/static/assets/icon-store.svg" alt="Store Icon">
                            </div>
                            <p>{{store_product.store_name}}</p>
                            {% if store_product.profileverified == True %}
                                <img class="verifedbanner" src="/static/assets/tag.svg" alt="Store Icon">
                            {% endif %}
                        </div>
                        {% if store_product.product_image %}
                        <img class="prd-img" src="{{store_product.product_image.url}}"
                            alt="Product 1">
                        {% else %}
                        <h1>Image not found</h1>
                        {% endif %}
                        
                    </div>
                    <div class="product-info">
                        <h3>{{store_product.product_name}}</h3>
                        <p id="priceamount">{{store_product.price}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-top">
                
                <div class="footer-column">
                    <h3>About Us</h3>
                    <ul>
                        <li><a href="/ourstory">Our Story</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/career">Careers</a></li>
                        <li><a href="/become-a-seller/">Become a Seller</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Help & Support</h3>
                    <ul>
                        <li><a href="/faqs">FAQs</a></li>
                        <li><a href="/ekhoji_support/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Stay Connected</h3>
                    <p style="color: #ccc; margin-bottom: 15px; font-size: 14px;">Subscribe to receive updates, access to exclusive deals, and more.</p>
                    <form action="/subscribeus" method="POST" id="subscribeForm">
                        {% csrf_token %}
                        <div class="subscribe-form">
                            <input type="email" name="email" placeholder="Enter your email">
                            <button class="subscribe-btn">Subscribe</button>
                        </div>
                    </form>
                    {% comment %} <div class="social-links">
                        <a href="#" aria-label="Facebook">f</a>
                        <a href="#" aria-label="Instagram">i</a>
                        <a href="#" aria-label="Twitter">t</a>
                        <a href="#" aria-label="Pinterest">p</a>
                        <a href="#" aria-label="YouTube">y</a>
                    </div> {% endcomment %}
                </div>
            </div>
            
            <div class="footer-bottom">
                <p>&copy; 2025 ekhoji. All rights reserved.</p>
                <p style="margin: 10px 0;"><a class="terms" href="/terms-condition" aria-label="terms-condition">Terms of Service</a> | <a class="terms" href="/privacy" aria-label="privacy">Privacy Policy</a></p>
               
            </div>
        </div>
    </footer>
</body>
<script src="/static/js/search.js"></script>
<script >
    
    const priceElements = document.querySelectorAll('#priceamount');
    priceElements.forEach(priceElement => {
        if (priceElement) {
            const formattedAmount = 'Rs. ' + parseInt(priceElement.textContent).toLocaleString('en-US');
            priceElement.textContent = formattedAmount;
        }
    });
    
</script>
</html>