<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBazaar Verify OTP</title>
    <link rel="icon" type="image/png" href="/static/assets/favicon.png" sizes="100x100">
    <link rel="stylesheet" href="/static/css/otp.css">
</head>
<body>
    <div class="container">
        <h2>Verify OTP</h2>
        
        {% if messages %}
            <div class="messages">
                    <div>{{ messages }}</div>
            </div>
        {% endif %}
        {% if email %}
        <p>OTP has been sent to your email address. Please enter the OTP to verify your email address. Valid For 5 minuts</p>
        <form method="POST" action="{% url 'verify_otp' %}">
            {% csrf_token %}
            <label for="otp">Enter OTP:</label>
            <input type="text" id="otp" name="otp" required>
            <input type="hidden" value="{{email}}" name="email">
            <button type="submit">Verify OTP</button>
            
        </form>
        {% else %}
            <a href="/signup">Something went wrong please try again.</a> 
        {% endif %}
        
    </div>
</body>
</html>
